{% extends "base.html" %}

{% block app_content %}
    <h1>An unexpected error has occurred</h1>
    <p>The administrator has been notified!</p>
    <p>If he gets too many notifications, we might replace him with an AI</p>
    <p><a href="{{ url_for('index') }}">Back</a></p>
{% endblock %}
