{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Hey, {{ current_user.username }}!</h1>
<p class="text-center">Do you want to nuke the database?</p>
<li>
    <p class="text-center">
        <a href="{{ url_for('nuke') }}"><b>Yes</b>, I want to burn down the world</a>
    </p>
</li>
<li>
    <p class="text-center">
        Nah, show me some cool <a href="{{ url_for('data') }}">data</a>
    </p>
</li>
{% endblock %}
