{% extends "base.html" %}

{% block content %}
<h1 class="text-center">What do you want to check out?</h1>
<li>
    <p class="text-center">
        <a href="{{ url_for('table_selection') }}" class="btn btn-success" role="button" aria-pressed="true">Tables</a>
    </p>
</li>
<li>
    <p class="text-center">
        <a href="{{ url_for('plot_selection') }}" class="btn btn-success" role="button" aria-pressed="true">Plots</a>
    </p>
</li>
{% endblock %}
