{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 id="igdb-internation-glacier-database">IGDB: Internation Glacier Database</h1>
    <p>The IGDB is a database, that uses data from the <a href="http://dx.doi.org/10.5904/wgms-fog-2018-11">WGMS</a> to illustrate the consequences of climate change.</p>
    <p>Our system allows you to visualize data with tables and plots, via our intuitive Web UI.</p>
</div>
{% endblock %}
