{% extends "base.html" %}

{% block content %}
<h1 id="youre-the-boss">You're the boss!</h1>
<ol type="1">
<li>Stop the web server, and then execute:</li>
<pre class="shell"><code>mysql -u root -p</code></pre>
<li><p>Introduce MySQL's root password</p></li>
<li><p>Execute these statements:</p></li>
<div class="sourceCode" id="cb2"><pre class="sourceCode sql"><code class="sourceCode sql"><span id="cb2-1"><a href="#cb2-1"></a><span class="kw">DROP</span> <span class="kw">DATABASE</span> IGDB;</span>
<span id="cb2-2"><a href="#cb2-2"></a><span class="kw">DROP</span> <span class="fu">USER</span> IGDB@LOCALHOST;</span></code></pre></div>
{% endblock %}
</ol>
