{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Plot</h1>
<img src="data:image/png;base64,{{ plot }}" alt="Image Placeholder">
<p><a href="{{ url_for('plot_selection') }}">Back</a></p>
{% endblock %}
